{
    "url": "amqp://{{ TAIGA_RABBITMQ_USER }}:{{ TAIGA_RABBITMQ_PASSWORD }}@eventserver:5672/{{ TAIGA_RABBITMQ_VHOST }}",
    "secret": "{{ TAIGA_SECRET_KEY }}",
    "webSocketServer": {
        "port": 9000
    }
}
