{
  "api": "{% if TAIGA_SSL_ENABLE|default('False') == 'True' %}https{% else %}http{% endif %}://{{ TAIGA_DOMAIN }}/api/v1/",
  "eventsUrl": "{% if TAIGA_SSL_ENABLE|default('False') == 'True' %}wss{% else %}ws{% endif %}://{{ TAIGA_DOMAIN }}/events",
  "debug": {% filter lower %}{{ TAIGA_DEBUG }}{% endfilter %},
  "publicRegisterEnabled":  {% filter lower %}{{ TAIGA_PUBLIC_REGISTER_ENABLED }}{% endfilter %},
  "feedbackEnabled": true,
  "privacyPolicyUrl": null,
  "termsOfServiceUrl": null,
  "maxUploadFileSize": null,
  "gitHubClientId": null,
  "contribPlugins": [ ]
}
